section.c{
	background-image:url('http://pixelartmaker.com/art/5f844eb2e410c7a.png');
           margin:0;
           padding:0;
}

	li{
		display: inline-block;
		margin-right : 20px;
	}
ul{
	list-style-type: none;
	color: white;
	font-family: "Times New Roman", Times, serif;

}
h1{
	text-align: center;
	font-family: Courier;
  color: white;
}
body{
  background-color: #373737;
  margin:0;
  padding:0;
  }
p.a{
  font-family: "Times New Roman", Times, serif;
  margin:0;
  padding:0;
  size:20px;
}
p.b {
  font-family: "Courier New", Courier, monospace;
  margin:0;
   padding:0;
   size:20px;
}
p.c{
  font-family: Courier;
  margin:0;
   padding:0;
   size:20px;
  }
 section{
   background-repeat:none;
   background-size:cover;
   margin: auto;
   margin:0;
  padding:0;
  }
 header{
    padding:20px;
    background-color:#1A1A1A
 }
 section.b{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  
 }
 video {
  margin: auto;
  border-radius: 20px;
  height: 315px;
  width: 560px;

 }
 iframe {
 height: 315px;
 width: 560px;
 }
 
 @media screen and (max-width:1767px){
  video {
 
  width:30%;
  height:30%;
 }
 iframe {
  width:30%;
  height:30%;
 }
 

 }
 